# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part_1_dataframe=pd.read_csv("../WeatherPy/city_weather_df.csv")
part_1_dataframe.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,east london,-33.02,27.91,59.29,69,0,7.70,ZA,1596058764
1,1,busselton,-33.65,115.33,46.99,92,79,5.19,AU,1596058750
2,2,hilo,19.73,-155.09,82.40,58,1,8.05,US,1596058761
3,3,mount pleasant,32.79,-79.86,90.00,70,1,16.11,US,1596058835
4,4,jamestown,42.10,-79.24,75.99,78,90,6.93,US,1596058754

In [3]:
#dropping the unnamed
dropna_part_1_dataframe=part_1_dataframe.dropna()
del dropna_part_1_dataframe["Unnamed: 0"]
dropna_part_1_dataframe.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,east london,-33.02,27.91,59.29,69,0,7.70,ZA,1596058764
1,busselton,-33.65,115.33,46.99,92,79,5.19,AU,1596058750
2,hilo,19.73,-155.09,82.40,58,1,8.05,US,1596058761
3,mount pleasant,32.79,-79.86,90.00,70,1,16.11,US,1596058835
4,jamestown,42.10,-79.24,75.99,78,90,6.93,US,1596058754

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Access maps with API key
gmaps.configure(api_key=g_key)

In [5]:
#getting coordinates
coord=pd.DataFrame(dropna_part_1_dataframe, columns=["Lat","Lng"])

#creating coordinate list
coord_list=coord.values.tolist()

#figure layout
figure_layout={
    "width":"400px",
    "height":"300px",
    "border":"1px solid black",
    "padding":"1px",
    "margin":"0 auto 0 auto"    
}

fig=gmaps.figure(layout=figure_layout)

#Weights
weights=dropna_part_1_dataframe.Humidity
heatmap=gmaps.heatmap_layer(coord_list, weights=weights)

#Heatmap
heatmap=gmaps.heatmap_layer(coord_list)
heatmap.max_intensity=2
heatmap.point_radius=3
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Fit weather conditions: A max temperature between 55-65 degrees, wind speed less than 15 mph, 100% cloudiness, and below 20% humidty
hotel_df=dropna_part_1_dataframe.loc[(dropna_part_1_dataframe["Max Temp"]>=55) & (dropna_part_1_dataframe["Max Temp"]<=65) & (dropna_part_1_dataframe["Wind Speed"]<=15) & (dropna_part_1_dataframe["Cloudiness"]<=100) & (dropna_part_1_dataframe["Humidity"]<=20)]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
139,kaeo,-35.10,173.78,59.0,3,100,5.01,NZ,1596059099
472,kerikeri,-35.23,173.95,59.0,3,100,5.01,NZ,1596059166

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df["Hotel Name"]=""
hotel_df

In [8]:
#geocoordinates
target_coord="-35.10, 173.78"
target_search="Hotels"
target_radius=5000
target_type="lodging"

#setting up params
params={
    "location":target_coord,
    "keyword":target_search,
    "radius":target_radius,
    "type":target_type,
    "key":g_key
}

#base url
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#run a ruquest
response=requests.get(base_url, params=params)

#convert to json
hotels=response.json()
json.dumps(hotels, indent=4, sort_keys=True)

#For City #2
#geocoordinates
target_coord2="-35.23, 173.95"
target_search2="Hotels"
target_radius2=5000
target_type2="lodging"

#setting up params
params2={
    "location":target_coord2,
    "keyword":target_search2,
    "radius":target_radius2,
    "type":target_type2,
    "key":g_key
}

#base url
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#run a ruquest
response2=requests.get(base_url, params=params2)

#convert to json
hotels2=response2.json()
json.dumps(hotels2, indent=4, sort_keys=True)

#storing into dataframe
hotel_df["Hotel Name"]=[(hotels["results"][0]["name"]), (hotels2["results"][0]["name"])]
hotel_df

C:\Users\Robin\anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
139,kaeo,-35.10,173.78,59.0,3,100,5.01,NZ,1596059099,Pacific Harbour Lodge
472,kerikeri,-35.23,173.95,59.0,3,100,5.01,NZ,1596059166,Stone Store Lodge Accommodation - Luxury Golf ...

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…